/* Dividers */

/* Divider Borders */
.divider-top-border {
	border-top: 1px solid rgba(0, 0, 0, 0.09);
}

.divider-bottom-border {
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.divider-left-border {
	border-left: 1px solid rgba(0, 0, 0, 0.09);
}

.divider-right-border {
	border-right: 1px solid rgba(0, 0, 0, 0.09);
}