/* Custom Image Icons */
.icon-bg {
	display: inline-block;
	background: url(../img/icons/icons.png) no-repeat;
	width: 80px;
	height: 80px;
}


.icon-1 {
	background-position: -10px -10px;
}

.icon-2 {
	background-position: -110px -10px;
}

.icon-3 {
	background-position: -210px -10px;
}

.icon-4 {
	background-position: -710px -10px;
}

.icon-plugin-1 {
	background-position: 0 100%;
	width: 115px;
	height: 115px;
}

.icon-plugin-2 {
	background-position: -115px 100%;
	width: 115px;
	height: 115px;
}

.icon-feature-1 {
	background-position: -20px -110px;
}

.icon-feature-2 {
	background-position: -120px -110px;
}

.icon-feature-3 {
	background-position: -220px -110px;
}

.icon-feature-4 {
	background-position: -320px -110px;
}

.icon-feature-5 {
	background-position: -420px -110px;
}

.icon-feature-6 {
	background-position: -520px -110px;
}

.icon-feature-7 {
	background-position: -620px -110px;
}

.icon-feature-8 {
	background-position: -720px -110px;
}

.icon-feature-9 {
	background-position: -820px -110px;
}

.icon-feature-10 {
	background-position: -920px -110px;
}

.icon-feature-11 {
	background-position: -20px -210px;
}

.icon-feature-12 {
	background-position: -120px -210px;
}

.icon-feature-13 {
	background-position: -220px -210px;
}

.icon-feature-14 {
	background-position: -320px -210px;
}

.icon-feature-15 {
	background-position: -420px -210px;
}

.icon-feature-16 {
	background-position: -520px -210px;
}

.icon-feature-17 {
	background-position: -624px -210px;
}

.icon-feature-18 {
    background-position: -720px -210px;
}

.icon-feature-19 {
	background-position: -820px -210px;
}

.icon-menu-1 {
	background-position: -310px -10px;
}

.icon-menu-2 {
	background-position: -410px -10px;
}

.icon-menu-3 {
	background-position: -510px -10px;
}

.icon-menu-4 {
	background-position: -610px -10px;
}