/*-------------------------------------------------------------------------*/
/* Wall
/*-------------------------------------------------------------------------*/
.section-wall {
	width: 100%;
	height: auto;
	padding: 15rem 0 10rem 0;
	overflow: hidden;
	min-height: 100vh;

	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

	background-size: cover;
	background-color: transparent;
	background-image: url('../../images/graphics/header.png');
	background-repeat: no-repeat;
	background-position: top center;
} @media screen and (min-width: 1920px) {.section-wall {background-size: 100% auto;}}

.section-wall::before {
	width: 100%;
	height: 0;
	left: 0;
	bottom: 0;
	content: '';
	position: absolute;
	box-shadow: 1px 0 50px 50px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 1px 0 50px 50px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 1px 0 50px 50px rgba(0, 0, 0, 0.25);
}

/* Wall: Slider
/*---------------------------------------------------------------*/
.section-wall .wall-slider {
	width: 100%;
	height: auto;
	display: block;
}

.section-wall .wall-slider .slider-item {
	width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
	max-width: 550px;
	text-align: center;
}

.section-wall .wall-slider .slider-item .item-title {
	color: #66a6ff;
	font-size: 2.75rem;
	font-family: var(--font-family-secondary);
	text-transform: uppercase;
}

@supports (-webkit-background-clip: text) {
	.section-wall .wall-slider .slider-item .item-title {
		background: #89f7fe;
		background: -moz-linear-gradient(top, #89f7fe 0%, #66a6ff 100%);
		background: -webkit-linear-gradient(top, #89f7fe 0%,#66a6ff 100%);
		background: linear-gradient(to bottom, #89f7fe 0%,#66a6ff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89f7fe', endColorstr='#66a6ff',GradientType=0 );

		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.section-wall .wall-slider .slider-item .item-desc {
	color: #dfecff;
	font-size: 0.75rem;
	font-family: var(--font-family-quaternary);
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.4), 0 1px 0 #000;
}

.section-wall .wall-slider .owl-dots {
	width: 100%;
	height: auto;
	margin: 3rem 0 0 0;
	display: block;
	text-align: center;
}

.section-wall .wall-slider .owl-dots .owl-dot {
	width: 24px;
	height: 24px;
	margin: 0 0.7rem;
	display: inline-block;
	vertical-align: middle;
	background-color: #0c1629;

	transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.section-wall .wall-slider .owl-dots .owl-dot::before {
	width: 16px;
	height: 16px;
	top: 4px;
	left: 4px;
	content: '';
	display: none;
	position: absolute;
	background-color: #375eaa;
}

.section-wall .wall-slider .owl-dots .owl-dot::after {
	width: 0;
	height: 0;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	content: '';
	display: none;
	position: absolute;
	box-shadow: 0 0 5px 5px #6ebcff;
	-moz-box-shadow: 0 0 5px 5px #6ebcff;
	-webkit-box-shadow: 0 0 5px 5px #6ebcff;
}

.section-wall .wall-slider .owl-dots .owl-dot.active {
	box-shadow: 0 0 10px 0 rgba(160, 202, 255, 0.5);
	-moz-box-shadow: 0 0 10px 0 rgba(160, 202, 255, 0.5);
	-webkit-box-shadow: 0 0 10px 0 rgba(160, 202, 255, 0.5);
}

.section-wall .wall-slider .owl-dots .owl-dot.active::before,
.section-wall .wall-slider .owl-dots .owl-dot.active::after {
	display: block;
}

/* Wall: Online
/*---------------------------------------------------------------*/
.section-wall .wall-online {
	width: 100%;
	height: auto;
	color: #459afd;
	display: block;
	font-size: 1.875rem;
	text-align: center;
	line-height: 100%;
	font-family: var(--font-family-secondary);
	text-transform: uppercase;
}

.section-wall .wall-online span {
	color: #90c3ff;
	display: block;
}

/* Wall: Membership
/*---------------------------------------------------------------*/
.section-wall .wall-membership {
	width: 100%;
	height: auto;
	display: block;
	text-align: center;
}

.section-wall .wall-membership .membership-row {
	width: 100%;
	height: auto;
	color: #cacaca;
	z-index: 9;
	display: block;
	font-size: 1.125rem;
	font-family: var(--font-family-primary);
}

/* Wall: Responsive
/*---------------------------------------------------------------*/
@media screen and (min-width: 1200px) { /* Desktop */
	/* Wall: Slider
	/*---------------------------------------------------------------*/
	.section-wall .wall-slider {}

	.section-wall .wall-slider .slider-item {}

	.section-wall .wall-slider .slider-item .item-title {
		font-size: 3.75rem;
	}
}