*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

application/logs/*
application/config/database.php
application/config/fusion.php
!application/logs/index.html
!application/logs/.htaccess
backups/*.zip
uploads/*

.php-cs-fixer.cache
install/.lock
