<ifModule mod_rewrite.c>
	RewriteEngine On
        
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ ./index.php?/$1 [L]
</ifModule>
# Required Rewrite Rule 

# We should always hide Sensitive Information
ServerSignature Off
# We should always hide Sensitive Information

# Request Recommended by Mozilla
<IfModule mod_setenvif.c>
  <IfModule mod_headers.c>
    # mod_headers, y u no match by Content-Type?!
    <FilesMatch "\.(gif|ico|jpe?g|png|svg|svgz|webp)$">
      SetEnvIf Origin ":" IS_CORS
      Header set Access-Control-Allow-Origin "*" env=IS_CORS
    </FilesMatch>
  </IfModule>
</IfModule>
# Request Recommended by Mozilla

# Allow Webfont access from other locations. (handy)
<IfModule mod_headers.c>
  <FilesMatch "\.(eot|font.css|css|otf|ttc|ttf|woff|woff2)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>
# Allow Webfont access from other locations. (handy)

# Prevent 404 Errors for Non-Existing Redirected Folders
Options -MultiViews
ErrorDocument 404 error/index.html
# we also want UTF-8 Encoding
AddDefaultCharset utf-8
# Disallow users to view folders with no content
<IfModule mod_autoindex.c>
  Options -Indexes
</IfModule>
<FilesMatch "(\.(bak|config|dist|fla|inc|ini|log|psd|sh|sql|swp)|~)$">
  Order allow,deny
  Deny from all
  Satisfy All
</FilesMatch>
# Prevent 404 Errors for Non-Existing Redirected Folders

# We also want to compress / minify CSS, Images, Remove HTML Whitespace and Comments
<IfModule pagespeed_module>
ModPagespeed on
ModPagespeedEnableFilters rewrite_css,combine_css
ModPagespeedEnableFilters recompress_images
ModPagespeedEnableFilters convert_png_to_jpeg,convert_jpeg_to_webp
ModPagespeedEnableFilters collapse_whitespace,remove_comments
</IfModule>
# We also want to compress / minify CSS, Images, Remove HTML Whitespace and Comments

# Headers Module start
<IfModule mod_headers.c>
  <FilesMatch "\.(js|css|xml|gz|html|ttf)$">
    Header append Vary: Accept-Encoding
  </FilesMatch>
</IfModule>
# Headers Module end

# Gzip Compression start
<IfModule mod_gzip.c>
  mod_gzip_on Yes
  mod_gzip_dechunk Yes
  mod_gzip_item_include file \.(html?|txt|css|js|php|pl)$
  mod_gzip_item_include handler ^cgi-script$
  mod_gzip_item_include mime ^text/.*
  mod_gzip_item_include mime ^application/x-javascript.*
  mod_gzip_item_exclude mime ^image/.*
  mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</IfModule>
# Gzip Compression end

# Keep Alive start
<IfModule mod_headers.c>
    Header set Connection keep-alive
</IfModule>
# Keep Alive end

# ETag start
<IfModule mod_expires.c> 
  <IfModule mod_headers.c> 
    Header unset ETag 
  </IfModule> 
  FileETag None 
</IfModule>
# ETag end
