/*-------------------------------------------------------------------------*/
/* Fusion Tooltip
/*-------------------------------------------------------------------------*/
#fusion_tooltip,
.fusion_tooltip {
	color: #fff;
	border: 1px solid #777;
	z-index: 999999999;
	border-top: 1px solid #cfcfcf;
	box-shadow: 0 0 3px 0 #000;
	-moz-box-shadow: 0 0 3px 0 #000;
	-webkit-box-shadow: 0 0 3px 0 #000;
	background-color: #070c21;
	background-color: rgba(7, 12, 33, 0.9);
	padding: 0.5rem;
}