/*-------------------------------------------------------------------------*/
/* Video
/*-------------------------------------------------------------------------*/
.video-background {
	width: 2224px;
	height: 1151px;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	text-align: center;
}

.video-background::after {
	width: 2224px;
	height: 1151px;
	top: 0;
	left: 0;
	content: '';
	position: absolute;
	background-color: transparent;
	background-image: url('../../images/graphics/background-overlay.png');
	background-repeat: no-repeat;
	background-position: center center;

	/* Fix position to make it look like original background */
	margin: 15px 0 0 135px;

	/* Center content that wider than their parent container */
	left: 50%;
	transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.video-background video {
	width: 2224px;
	height: 1151px;
	top: 0;
	left: 0;
	display: block;
	position: absolute;

	/* Fix position to make it look like original background */
	margin: 15px 0 0 135px;

	/* Center content that wider than their parent container */
	left: 50%;
	transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

/* Video: Responsive
/*---------------------------------------------------------------*/
@media screen and (max-width: 992px) { /* non-Desktop */
	.video-background::after,
	.video-background video {
		left: 0;
	}
}