/* Featured Box */
.featured-box {
	background: #1b1d29;
	box-sizing: border-box;
	border-bottom: 1px solid #13151e;
	border-left: 1px solid #13151e;
	border-radius: 8px;
	border-right: 1px solid #13151e;
	box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.05);
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	min-height: 100px;
	position: relative;
	text-align: center;
	z-index: 1;
}

.featured-box h4 {
	font-size: 1.3em;
	font-weight: 400;
	letter-spacing: -0.7px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.featured-box .box-content {
	border-radius: 8px;
	border-top: 1px solid rgba(0, 0, 0, 0.06);
	border-top-width: 4px;
	padding: 28.8px;
	padding: 1.8rem;
	position: relative;
}

.featured-box .box-content:not(.box-content-border-0) {
	top: -1px;
	border-top-width: 4px;
}

.featured-box .box-content.box-content-border-0 {
	border-top: 1px solid rgba(0, 0, 0, 0.06) !important;
	border-bottom: 0 !important;
}

.featured-box .box-content.box-content-border-bottom {
	top: 1px;
}

.featured-box .box-content-border-bottom {
	border-top: 1px solid rgba(0, 0, 0, 0.06) !important;
	border-bottom: 4px solid rgba(0, 0, 0, 0.06);
}

.featured-box.border-radius {
	border-radius: 8px !important;
}

.featured-box.border-radius.box-shadow-1:before {
	border-radius: 8px !important;
}
.featured-box-primary .box-content {
	border-top-color: #0088CC;
}

.featured-box-primary .box-content-border-bottom {
	border-bottom-color: #0088CC;
}