.announcement {
	background-color:#1e1e1e;
	padding:0px;
	margin:0px;
	text-align:center;
	color:#ffffff;
	line-height:1.5;
}

.announcement h3 {
	margin:0px;
	padding:0px;
	margin-bottom:50px;
	font-family:'MuseoSlab', Arial, Sans-serif;
	font-size:56px;
	font-weight:normal;
	margin-top:50px;
}

.announcement p {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:550px;
	font-size:20px;
	font-family:'MuseoSans', Arial, Sans-serif;
	color:#666;
	text-shadow:1px 1px 0px #000;
}