#guild_top {
	padding:10px;
	height:73px;
}

#guild_name {
	float:left;
	margin-top:-8px;
	width:320px;
	overflow:hidden;
}

#guild_info {
	float:right;
	width:340px;
	height:60px;
	overflow:auto;
	font-style:italic;
}

#guild_top h1 {
	margin:0px;
	padding:0px;
	font-size:40px;
	font-weight:normal;
	overflow:hidden;
	height:60px;
}

#guild_top h2 {
	margin:0px;
	padding:0px;
	margin-top:-5px;
	font-size:16px;
	font-weight:normal;
}

#guild_top h2 i {
	opacity:0.7;
}

.search_result_character {
	float:left;
	width:210px;
	margin-left:10px;
	margin-bottom:30px;
}

.search_result_character .name {
	font-weight:bold;
	font-size:14px;
	margin-top:5px;
	display:block;
}

.search_result_character span {
	margin-top:3px;
	display:block;
	overflow:hidden;
	height:32px;
}

.search_result_character img {
	float:left;
	display:block;
	width:54px;
	height:54px;
	margin-right:10px;
}