#pm_controls {
	padding:10px;
	margin-bottom:5px;
}

#pm_controls a {
	margin-right:5px;
}

#pm_controls_right {
	float:right;
}

#pm_controls_right a {
	margin-left:5px;
	margin-right:0px;
}

.pm_new {
	font-weight:bold;
}

#messages_pagination a {
	color:#666;
	margin:5px;
}

#messages_pagination a:hover {
	color:#000000;
	text-decoration:none;
}

#messages_pagination {
	text-align:center;
	font-size:14px;
	font-weight:bold;
	margin-bottom:10px;
}