#avatar_page h2 {
	margin:0px;
	padding:0px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	margin-top:5px;
}

#avatar_page h3 {
	margin:0px;
	padding:0px;
	font-size:16px;
	font-weight:normal;
	text-align:center;
}

#avatar_page center {
	margin-top:20px;
	margin-bottom:20px;
	font-size:30px;
}