#ucp_top {
	padding:5px;
	padding-bottom:10px;
}

#ucp_avatar {
	display:block;
	float:left;
	width:120px;
	height:120px;
}

/* Avatar hover overlay */
#ucp_avatar div {
	position:absolute;
	opacity:0;
	filter:alpha(opacity=0);
	text-align:center;
	font-size:14px;
	background-color:rgba(0,0,0,0.6);
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;
	width:120px;
	height:70px;
	padding-top:50px;
	color:#fff;
}

#ucp_avatar:hover div {
	opacity:1;
	filter:alpha(opacity=100);
}

#ucp_info {
	float:left;
	height:120px;
}

/* #ucp_info columns*/
#ucp_info aside {
	float:left;
	width:250px;
	height:120px;
}

#ucp_info aside table {
	margin-left:auto;
	margin-right:auto;
}

/* First column in the #ucp_info */
#ucp_info aside:first-child {
	margin-right:20px;
}

#ucp_info td {
	padding:4px;
}

#ucp_buttons {
	margin-top:-15px;
}

#ucp_buttons a {
	display:block;
	width:330px;
	height:75px;
	background-position:0px 0px;
	float:left;
	margin-bottom:15px;
	margin-left:12px;
}

#ucp_buttons a:hover {
	background-position:0px 75px;
}

#ucp_characters {
	margin-top:-20px;
	padding-left:10px;
	padding-right:10px;
}

/* UCP: character list, character */
#ucp_characters a {
	float:left;
	display:block;
	width:64px;
	height:64px;
	margin-right:15px;
	margin-bottom:15px;
}

/* UCP: character list, realm headline */
#ucp_characters h1 {
	clear:both;
}