/*-------------------------------------------------------------------------*/
/* Fonts
/*-------------------------------------------------------------------------*/
@font-face {
	font-family: 'Assassin$';
	src: url('../../fonts/Assassin/Regular/Assassin.eot');
	src: local('Assassin$'),
		 url('../../fonts/Assassin/Regular/Assassin.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/Assassin/Regular/Assassin.woff2') format('woff2'),
		 url('../../fonts/Assassin/Regular/Assassin.woff') format('woff'),
		 url('../../fonts/Assassin/Regular/Assassin.ttf') format('truetype'),
		 url('../../fonts/Assassin/Regular/Assassin.svg#Assassin$') format('svg');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Calibri';
	src: url('../../fonts/Calibri/Regular/Calibri.eot');
	src: local('Calibri'),
		 url('../../fonts/Calibri/Regular/Calibri.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/Calibri/Regular/Calibri.woff2') format('woff2'),
		 url('../../fonts/Calibri/Regular/Calibri.woff') format('woff'),
		 url('../../fonts/Calibri/Regular/Calibri.ttf') format('truetype'),
		 url('../../fonts/Calibri/Regular/Calibri.svg#Calibri') format('svg');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Cambria';
	src: url('../../fonts/Cambria/Regular/Cambria.eot');
	src: local('Cambria'),
		 url('../../fonts/Cambria/Regular/Cambria.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/Cambria/Regular/Cambria.woff2') format('woff2'),
		 url('../../fonts/Cambria/Regular/Cambria.woff') format('woff'),
		 url('../../fonts/Cambria/Regular/Cambria.ttf') format('truetype'),
		 url('../../fonts/Cambria/Regular/Cambria.svg#Cambria') format('svg');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Cambria';
	src: url('../../fonts/Cambria/Italic/Cambria-Italic.eot');
	src: local('Cambria Italic'), local('Cambria-Italic'),
		 url('../../fonts/Cambria/Italic/Cambria-Italic.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/Cambria/Italic/Cambria-Italic.woff2') format('woff2'),
		 url('../../fonts/Cambria/Italic/Cambria-Italic.woff') format('woff'),
		 url('../../fonts/Cambria/Italic/Cambria-Italic.ttf') format('truetype'),
		 url('../../fonts/Cambria/Italic/Cambria-Italic.svg#Cambria-Italic') format('svg');
	font-style: italic;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'CapitalisTypOasis';
	src: url('../../fonts/CapitalisTypOasis/Medium/CapitalisTypOasisMedium.eot');
	src: local('CapitalisTypOasisMedium'),
		 url('../../fonts/CapitalisTypOasis/Medium/CapitalisTypOasisMedium.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/CapitalisTypOasis/Medium/CapitalisTypOasisMedium.woff2') format('woff2'),
		 url('../../fonts/CapitalisTypOasis/Medium/CapitalisTypOasisMedium.woff') format('woff'),
		 url('../../fonts/CapitalisTypOasis/Medium/CapitalisTypOasisMedium.ttf') format('truetype'),
		 url('../../fonts/CapitalisTypOasis/Medium/CapitalisTypOasisMedium.svg#CapitalisTypOasisMedium') format('svg');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'ChanticleerRoman';
	src: url('../../fonts/ChanticleerRoman/Regular/ChanticleerRoman.eot');
	src: local('ChanticleerRoman'),
		 url('../../fonts/ChanticleerRoman/Regular/ChanticleerRoman.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/ChanticleerRoman/Regular/ChanticleerRoman.woff2') format('woff2'),
		 url('../../fonts/ChanticleerRoman/Regular/ChanticleerRoman.woff') format('woff'),
		 url('../../fonts/ChanticleerRoman/Regular/ChanticleerRoman.ttf') format('truetype'),
		 url('../../fonts/ChanticleerRoman/Regular/ChanticleerRoman.svg#ChanticleerRoman') format('svg');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}