#gm .nice_button {
	margin-right:5px;
}

#gm .gm_ticket {
	margin-bottom:20px;
}

#gm .gm_ticket_text {
	padding:20px;
	padding-top:5px;
}

#gm .gm_ticket_info_full {
	display:none;
}

.gm_tools {
	display:none;
	margin:20px;
	margin-top:5px;
}

#gm #top_tools {
	padding:20px;
}