#fusion_tooltip, .fusion_tooltip {
    background-color:#070c21;
    background-color: rgba(7,12,33,0.9);
    border:1px solid #777777;
    border-top:1px solid #cfcfcf;
    -webkit-box-shadow: 0px 0px 3px #000;
    -moz-box-shadow: 0px 0px 3px #000;
    box-shadow: 0px 0px 3px #000;
    color: #fff;
    position: absolute;
    z-index: 9999999;
    padding:1rem;
}
