.cursor-pointer {
	cursor:pointer;
}

.card:not(.card-disabled).card-hover {
	-webkit-transition: all 0.4s ;
	transition: all 0.4s ;
}

.card:not(.card-disabled).card-hover:hover {
	background-color:rgba(22,29,36,0.9);
}

.card.card-disabled {
	cursor:default;
	opacity:.5;
}

.btn-primary.disabled, .btn-primary:disabled {
	background-color: #232d53;
    border-color: #232d53;
}

.card {
	background-color: #0f151c;
}