/*-------------------------------------------------------------------------*/
/* Notifications
/*-------------------------------------------------------------------------*/
.section-notifications {
	width: 100%;
	height: auto;
	margin: var(--margin-primary) 0 0 0;
}

.section-notifications .notify {
	margin: 0 0 var(--margin-primary) 0;
	padding: 1.109rem 1.109rem 1.109rem 4.593rem;
	font-size: 1.0625rem;
	text-align: center;
	font-family: var(--font-family-primary);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
	background-color: rgba(18, 26, 34, 0.95);
	background-image: url('../../images/patterns/pattern-noise-02.png');
	background-repeat: repeat;
	background-position: center center;
	transition: 300ms color ease-in-out;
	-o-transition: 300ms color ease-in-out;
	-ms-transition: 300ms color ease-in-out;
	-moz-transition: 300ms color ease-in-out;
	-webkit-transition: 300ms color ease-in-out;
} .section-notifications .notify.last-row {margin: 0;}

.section-notifications .notify::before {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	content: '';
	position: absolute;
	box-shadow: 0 0 20px 3px rgba(67, 181, 254, 0.2);
	-moz-box-shadow: 0 0 20px 3px rgba(67, 181, 254, 0.2);
	-webkit-box-shadow: 0 0 20px 3px rgba(67, 181, 254, 0.2);
	background-color: rgba(67, 181, 254, 0.01);
	transition: 300ms opacity ease-in-out;
	-o-transition: 300ms opacity ease-in-out;
	-ms-transition: 300ms opacity ease-in-out;
	-moz-transition: 300ms opacity ease-in-out;
	-webkit-transition: 300ms opacity ease-in-out;
}

.section-notifications .notify:hover::before,
.section-notifications .notify:active::before {
	opacity: 0.5;
}

/* Notifications: Icon
/*---------------------------------------------------------------*/
.section-notifications .notify span {
	vertical-align: middle;
}

.section-notifications .notify span::before {
	width: 38px;
	height: 37px;
	top: 50%;
	left: -3.484rem;
	content: '';
	position: absolute;
	margin-top: -18.5px;
	background-color: transparent;
	background-image: url('../../images/graphics/icons.png');
	background-repeat: no-repeat;
}

/* Notifications: Link
/*---------------------------------------------------------------*/
.section-notifications .notify.notify-has-link {
	padding: 0;
}

.section-notifications .notify.notify-has-link a {
	color: inherit;
	display: block;
	padding: 1.109rem 1.109rem 1.109rem 4.593rem;
}

/* Notifications: Success
/*---------------------------------------------------------------*/
.section-notifications .notify.notify-success {
	color: #749365;
	box-shadow: inset 0 0 0 1px #141a21, inset 0 0 18px 0 rgba(71, 173, 33, 0.1), inset 0 0 0 2px rgba(65, 77, 104, 0.14), 0 0 6px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 0 0 1px #141a21, inset 0 0 18px 0 rgba(71, 173, 33, 0.1), inset 0 0 0 2px rgba(65, 77, 104, 0.14), 0 0 6px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 0 0 0 1px #141a21, inset 0 0 18px 0 rgba(71, 173, 33, 0.1), inset 0 0 0 2px rgba(65, 77, 104, 0.14), 0 0 6px 0 rgba(0, 0, 0, 0.15);
} .section-notifications .notify.notify-success:hover        {color: #abd996;}
  .section-notifications .notify.notify-success:active       {color: #abd996;}
  .section-notifications .notify.notify-success span::before {background-position: -102px 50%;}

/* Notifications: Warning
/*---------------------------------------------------------------*/
.section-notifications .notify.notify-warning {
	color: #bb5351;
	box-shadow: inset 0 0 0 1px #141a21, inset 0 0 18px 0 rgba(173, 53, 33, 0.15), inset 0 0 0 2px rgba(65, 77, 104, 0.14), 0 0 6px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 0 0 1px #141a21, inset 0 0 18px 0 rgba(173, 53, 33, 0.15), inset 0 0 0 2px rgba(65, 77, 104, 0.14), 0 0 6px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 0 0 0 1px #141a21, inset 0 0 18px 0 rgba(173, 53, 33, 0.15), inset 0 0 0 2px rgba(65, 77, 104, 0.14), 0 0 6px 0 rgba(0, 0, 0, 0.15);
} .section-notifications .notify.notify-warning:hover        {color: #d95f5d;}
  .section-notifications .notify.notify-warning:active       {color: #d95f5d;}
  .section-notifications .notify.notify-warning span::before {background-position: -54px 50%;}