/*-------------------------------------------------------------------------*/
/* Page header
/*-------------------------------------------------------------------------*/
.section-pageheader {
	width: 100%;
	height: auto;
	margin: var(--margin-primary) 0 5rem 0;
}

.section-pageheader .container {}

.section-pageheader .container .row {}

.section-pageheader .container .row .col-md-12 {}

.section-pageheader .container .row .col-md-12 .pageheader-title {
	color: #edfbff;
	font-size: 1.8125rem;
	text-align: center;
	text-shadow: 0 0 16px rgba(113, 171, 255, 0.17), 0 0 6px rgba(50, 132, 255, 0.61);
	text-transform: uppercase;
}

.section-pageheader .container .row .col-md-12 .pageheader-breadcrumb {
	color: #99b3d4;
	font-size: 1.125rem;
	text-align: center;
	font-weight: 700;
	font-family: var(--font-family-primary);
}

.section-pageheader .container .row .col-md-12 .pageheader-breadcrumb i {
	width: 22px;
	height: 30px;
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: middle;
	background-color: transparent;
	background-image: url('../../images/graphics/arrow-01.png');
	background-repeat: no-repeat;
	background-position: top center;
}

.section-pageheader .container .row .col-md-12 .pageheader-breadcrumb > span {
	vertical-align: middle;
} .section-pageheader .container .row .col-md-12 .pageheader-breadcrumb span[onclick]:hover {color: #e0f0ff;}

/* Page header: Basic
/*---------------------------------------------------------------*/
.section-pageheader.is-basic .container {}

.section-pageheader.is-basic .container .row {}

.section-pageheader.is-basic .container .row .col-md-12 {
	flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	max-width: 100%;
} .section-pageheader.is-basic .container .row .col-md-12 + .col-md-12 {display: none;}

/* Page header: Responsive
/*---------------------------------------------------------------*/
@media screen and (max-width: 992px) { /* non-Desktop */
	.section-pageheader .container .row .col-md-12 * {
		overflow: visible !important;
		white-space: inherit !important;
	}
}

@media screen and (min-width: 992px) { /* Desktop */
	.section-pageheader .container .row .col-md-12 .pageheader-title {
		font-size: 3.875rem;
		text-align: left;
	}

	.section-pageheader .container .row .col-md-12 .pageheader-breadcrumb {
		float: right;
		display: inline-block;
	}

	.section-pageheader .container .row .col-md-12 .pageheader-breadcrumb::before {
		width: 100%;
		height: 0;
		top: 50%;
		left: 0;
		content: '';
		position: absolute;
		box-shadow: 0 0 100px 30px #000;
		-moz-box-shadow: 0 0 100px 30px #000;
		-webkit-box-shadow: 0 0 100px 30px #000;
	}
}

/*-------------------------------------------------------------------------*/
/* Page body
/*-------------------------------------------------------------------------*/
.pagebody {
	color: #6a7278;
	padding: 1rem;
	box-shadow: inset 0 0 0 1px #141a21, inset 0 0 0 2px rgba(65, 77, 104, 0.14), 0 0 6px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 0 0 1px #141a21, inset 0 0 0 2px rgba(65, 77, 104, 0.14), 0 0 6px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 0 0 0 1px #141a21, inset 0 0 0 2px rgba(65, 77, 104, 0.14), 0 0 6px 0 rgba(0, 0, 0, 0.15);
	background-color: rgba(18, 26, 34, 0.95);
	background-image: url('../../images/patterns/pattern-noise-02.png');
	background-repeat: repeat;
	background-position: center center;
} .pagebody + script + style + .pagebody {margin: var(--margin-primary) 0 0 0;}
  .is-fullwidth .pagebody                {padding: 1rem;}

.pagebody *    {color: #5f758a;}
.pagebody .row {max-width: initial;}

/* Page body: Responsive
/*---------------------------------------------------------------*/
@media screen and (min-width: 768px) { /* Desktop */
	.is-fullwidth .pagebody {padding: 5rem;}
}

/*-------------------------------------------------------------------------*/
/* Page sub header
/*-------------------------------------------------------------------------*/
.page-subheader {
	padding: 1.5rem;
	text-align: center;
	background-color: rgba(33, 49, 65, 0.6);
	background-image: url('../../images/patterns/pattern-noise-02.png');
	background-repeat: repeat;
	background-position: center center;
}

.page-subheader::before,
.page-subheader::after {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	filter: invert(1);
	content: '';
	opacity: 0.4;
	position: absolute;
	background-color: transparent;
	background-image: url('../../images/patterns/pattern-crack-01.png');
	background-repeat: no-repeat;
	background-position: top left;
}

.page-subheader::after {
	opacity: 0.2;
	background-image: url('../../images/patterns/pattern-crack-02.png');
	background-position: bottom right;
}

.page-subheader [glow-1] {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
}

.page-subheader [glow-1]::before {
	width: 30%;
	height: 50%;
	top: 0;
	left: 0;
	content: '';
	position: absolute;
	background: -moz-linear-gradient(left,  rgba(104,181,255,0.05) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(left,  rgba(104,181,255,0.05) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to right,  rgba(104,181,255,0.05) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d68b5ff', endColorstr='#00000000',GradientType=1 );
}

.page-subheader [glow-1]::after {
	width: 100px;
	height: 100px;
	top: -200px;
	left: 0;
	content: '';
	position: absolute;
	box-shadow: 0 0 200px 100px rgba(104, 181, 255, 0.2);
	-moz-box-shadow: 0 0 200px 100px rgba(104, 181, 255, 0.2);
	-webkit-box-shadow: 0 0 200px 100px rgba(104, 181, 255, 0.2);
}

.page-subheader [glow-2] {
	width: 30%;
	height: 50%;
	top: 0;
	right: 0;
	position: absolute;
	background: -moz-linear-gradient(left,  rgba(104,181,255,0) 0%, rgba(104,181,255,0.05) 50%, rgba(104,181,255,0.02) 100%);
	background: -webkit-linear-gradient(left,  rgba(104,181,255,0) 0%,rgba(104,181,255,0.05) 50%,rgba(104,181,255,0.02) 100%);
	background: linear-gradient(to right,  rgba(104,181,255,0) 0%,rgba(104,181,255,0.05) 50%,rgba(104,181,255,0.02) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0068b5ff', endColorstr='#0568b5ff',GradientType=1 );
}

.page-subheader > * {
	z-index: 9;
}

/* Page sub header: Title
/*---------------------------------------------------------------*/
.page-subheader .subheader-title {}

.page-subheader .subheader-title span {
	color: #edfbff;
	margin: 0 0.5rem;
	display: inline-block;
	font-size: 1rem;
	font-weight: 600;
	font-family: var(--font-family-primary);
	text-shadow: 0 0 3px rgba(174, 232, 255, 0.1);
	vertical-align: middle;
	text-transform: uppercase;
}

.page-subheader .subheader-title span[active] {
	color: #b2d0dc;
	padding: 0 0 0 2.5rem;
	font-style: italic;
	text-transform: initial;
	background-color: transparent;
	background-image: url('../../images/graphics/arrow-02.png');
	background-repeat: no-repeat;
	background-position: left center;
}

.page-subheader .subheader-title span[inactive] {
	opacity: 0.5;
}

/* Page sub header: Button
/*---------------------------------------------------------------*/
.page-subheader .subheader-btn {
	top: -10px;
	right: 0;
	color: #a3bed6;
	margin: 1rem 0 0 0;
	display: inline-block;
	padding: 0.5rem 0.75rem 0.5rem 2.8125rem;
	position: absolute;
	font-size: 0.75rem;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15), inset 0 0 1px 1px rgba(13, 25, 40, 0.2);
	-moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15), inset 0 0 1px 1px rgba(13, 25, 40, 0.2);
	-webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15), inset 0 0 1px 1px rgba(13, 25, 40, 0.2);
	font-weight: 600;
	font-family: var(--font-family-tertiary);
	text-shadow: 0 1px 1px rgba(6, 9, 18, 0.45);
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: #1b2d42;
	transition: 300ms color ease-in-out;
	-o-transition: 300ms color ease-in-out;
	-ms-transition: 300ms color ease-in-out;
	-moz-transition: 300ms color ease-in-out;
	-webkit-transition: 300ms color ease-in-out;
}

.page-subheader .subheader-btn:hover,
.page-subheader .subheader-btn:active {
	color: #b7d1e7;
}

.page-subheader .subheader-btn::before {
	width: 21px; /* 1.3125rem */
	height: 100%;
	top: 0;
	left: 0.75rem;
	content: '';
	position: absolute;
	background-color: transparent;
	background-image: url('../../images/graphics/icons.png');
	background-repeat: no-repeat;
	background-position: -230px 50%;
}

.page-subheader .subheader-btn::after {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	content: '';
	position: absolute;
	background-color: rgba(124, 187, 255, 0.1);
	transition: 300ms opacity ease-in-out;
	-o-transition: 300ms opacity ease-in-out;
	-ms-transition: 300ms opacity ease-in-out;
	-moz-transition: 300ms opacity ease-in-out;
	-webkit-transition: 300ms opacity ease-in-out;
}

.page-subheader .subheader-btn:hover::after,
.page-subheader .subheader-btn:active::after {
	opacity: 1;
}

/* Page sub header: Responsive
/*---------------------------------------------------------------*/
@media screen and (min-width: 992px) { /* Desktop */
	.page-subheader {
		padding: 0 0.75rem 0 0;
		text-align: initial;
	} .page-subheader [subheader-title] {text-align: left;}
	  .page-subheader [subheader-btn]   {text-align: right;}

	/* Page sub header: Title
	/*---------------------------------------------------------------*/
	.page-subheader .subheader-title span {
		height: 63px;
		margin: 0 0 0 1.625rem;
		font-size: 1.5rem;
		line-height: 63px;
	}

	/* Page sub header: Button
	/*---------------------------------------------------------------*/
	.page-subheader .subheader-btn {
		top: auto;
		right: auto;
		margin: 0;
		padding: 0.75rem 1.125rem 0.75rem 3.5625rem;
		position: relative;
		font-size: 1rem;
	} .page-subheader .subheader-btn::before {left: 1.125rem;}
}

/*-------------------------------------------------------------------------*/
/* Page sub description
/*-------------------------------------------------------------------------*/
.page-subdesc {
	width: 95%;
	height: auto;
	color: #9ea8b5;
	margin: 5rem auto 0 auto;
	font-size: 1.0625rem;
	text-align: center;
	font-weight: 600;
	text-shadow: 0 1px 1px #000;
	font-family: var(--font-family-primary);
}

.page-subdesc b,
.page-subdesc strong {
	color: #b7cbe2;
}

/*-------------------------------------------------------------------------*/
/* Page sub body
/*-------------------------------------------------------------------------*/
.page-subbody {
	margin: 5rem 0 0 0;
	padding: 1rem;
	background-color: rgba(33, 49, 65, 0.6);
	background-image: url('../../images/patterns/pattern-noise-02.png');
	background-repeat: repeat;
	background-position: center center;
}

/* Page sub body: Responsive
/*---------------------------------------------------------------*/
@media screen and (min-width: 768px) { /* Desktop */
	.page-subbody {padding: 5rem;}
}