/*-------------------------------------------------------------------------*/
/* Navbar side
/*-------------------------------------------------------------------------*/
.navbar-side {
	width: 100%;
	height: auto;
	margin: 0 0 var(--margin-primary) 0;
	padding: 0;
}

.navbar-side .navbar-nav {
	width: 100%;
	height: auto;
}

.navbar-side .navbar-nav .nav-item {
	width: 100%;
	height: auto;
	margin: 0 0 5px 0;
} .navbar-side .navbar-nav .nav-item.last-row {margin: 0;}

.navbar-side .navbar-nav .nav-item .nav-link {
	color: #baddf4;
	display: block;
	padding: 0.794rem 1rem 0.794rem 2.5rem;
	font-size: 1.125rem;
	box-shadow: inset 0 0 0 1px #141a21, inset 0 0 0 2px rgba(104, 193, 232, 0.08), inset 0 0 0 2px rgba(65, 77, 104, 0.14), 0 0 6px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 0 0 1px #141a21, inset 0 0 0 2px rgba(104, 193, 232, 0.08), inset 0 0 0 2px rgba(65, 77, 104, 0.14), 0 0 6px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 0 0 0 1px #141a21, inset 0 0 0 2px rgba(104, 193, 232, 0.08), inset 0 0 0 2px rgba(65, 77, 104, 0.14), 0 0 6px 0 rgba(0, 0, 0, 0.15);
	text-shadow: 0 1px 1px #000;
	font-family: var(--font-family-secondary);
	text-transform: uppercase;
	background-color: rgba(18, 26, 34, 0.95);
	background-image: url('../../images/patterns/pattern-noise-02.png');
	background-repeat: repeat;
	background-position: center center;
	transition: 300ms color ease-in-out;
	-o-transition: 300ms color ease-in-out;
	-ms-transition: 300ms color ease-in-out;
	-moz-transition: 300ms color ease-in-out;
	-webkit-transition: 300ms color ease-in-out;
}

.navbar-side .navbar-nav .nav-item .nav-link::before {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	content: '';
	opacity: 0.16;
	position: absolute;
	background: rgb(57,178,255);
	background: -moz-linear-gradient(90deg, rgba(57,178,255,0) 0%, rgba(57,178,255,1) 50%, rgba(57,178,255,0) 100%);
	background: -webkit-linear-gradient(90deg, rgba(57,178,255,0) 0%, rgba(57,178,255,1) 50%, rgba(57,178,255,0) 100%);
	background: linear-gradient(90deg, rgba(57,178,255,0) 0%, rgba(57,178,255,1) 50%, rgba(57,178,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#39b2ff",endColorstr="#39b2ff",GradientType=1);
}

.navbar-side .navbar-nav .nav-item .nav-link:hover,
.navbar-side .navbar-nav .nav-item .nav-link:active,
.navbar-side .navbar-nav .nav-item .nav-link.nav-active {
	color: #fff;
}

.navbar-side .navbar-nav .nav-item .nav-link .arrow {
	width: 22px;
	height: 30px;
	top: 50%;
	left: 1rem;
	position: absolute;
	margin-top: -10px;
}

.navbar-side .navbar-nav .nav-item .nav-link .arrow::before {
	width: 100%;
	height: 100%;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
	top: 0;
	left: 0;
	position: absolute;
	transition: 300ms opacity ease-in-out;
	-o-transition: 300ms opacity ease-in-out;
	-ms-transition: 300ms opacity ease-in-out;
	-moz-transition: 300ms opacity ease-in-out;
	-webkit-transition: 300ms opacity ease-in-out;
}

.navbar-side .navbar-nav .nav-item .nav-link:hover .arrow::before,
.navbar-side .navbar-nav .nav-item .nav-link:active .arrow::before,
.navbar-side .navbar-nav .nav-item .nav-link.nav-active .arrow::before {
	opacity: 1;
}

.navbar-side .navbar-nav .nav-item .nav-link span {
	vertical-align: sub;
}