/*-------------------------------------------------------------------------*/
/* Welcome box
/*-------------------------------------------------------------------------*/
.welcome-box {
	width: 100%;
	height: auto;
	margin: 0 0 var(--margin-primary) 0;
	padding: 2rem;
	overflow: hidden;
	text-align: center;
	box-shadow: inset 0 0 0 1px #141a21, inset 0 0 0 2px rgba(65, 77, 104, 0.14), 0 0 6px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 0 0 1px #141a21, inset 0 0 0 2px rgba(65, 77, 104, 0.14), 0 0 6px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 0 0 0 1px #141a21, inset 0 0 0 2px rgba(65, 77, 104, 0.14), 0 0 6px 0 rgba(0, 0, 0, 0.15);
	background-color: rgba(18, 26, 34, 0.95);
	background-image: url('../../images/patterns/pattern-noise-02.png');
	background-repeat: repeat;
	background-position: center center;
}

.welcome-box::before {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: 2px solid rgba(104, 184, 255, 0.2);
	content: '';
	position: absolute;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-color: transparent;
	background-image: url('../../images/graphics/welcome-box.png');
	background-repeat: no-repeat;
	background-position: top center;
}

.welcome-box::after {
	width: 100px;
	height: 100px;
	right: -100px;
	bottom: -100px;
	content: '';
	position: absolute;
	box-shadow: 0 0 300px 20px #2a76bb;
	-moz-box-shadow: 0 0 300px 20px #2a76bb;
	-webkit-box-shadow: 0 0 300px 20px #2a76bb;
}

.welcome-box .welcome-title {
	color: #43b5fe;
	font-size: 1.225rem;
	line-height: 100%;
	font-family: var(--font-family-tertiary);
	text-shadow: 0 0 3px rgba(57, 178, 255, 0.32), 0 1px 1px rgba(0, 0, 0, 0.6);
	text-transform: uppercase;
}

.welcome-box .welcome-title strong {
	color: #ddf4ff;
	display: block;
	font-size: 3.35rem;
	font-weight: 100;
	line-height: 139%;
	font-family: var(--font-family-secondary);
	text-shadow: 0 0 5px rgba(57, 178, 255, 0.47), 0 1px 1px rgba(0, 0, 0, 0.6);
}

.welcome-box .welcome-content {
	color: #798187;
	margin: 0;
	font-size: 1.125rem;
	line-height: 100%;
	font-family: var(--font-family-primary);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

/* Welcome box: Responsive
/*---------------------------------------------------------------*/
@media screen and (min-width: 992px) { /* Desktop */
	.welcome-box .welcome-title        {font-size: 1.875rem;}
	.welcome-box .welcome-title strong {font-size: 4.375rem;}
}